<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Quinta</title>
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" rel="stylesheet">
    <script crossorigin="anonymous"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link crossorigin="anonymous" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" rel="stylesheet"/>

    <style>
        .w3-sidebar a {
            font-family: "Roboto", sans-serif
        }

        body, h1, h2, h3, h4, h5, h6, .w3-wide {
            font-family: "Montserrat", sans-serif;
        }

        .tableFixHead {
            overflow-y: auto;
            height: 400px;
        }

        .tableFixHead thead th {
            position: sticky;
            top: 0;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 8px 16px;
            border: 1px solid #ccc;
        }

        th {
            background: #eee;
        }

        .loading-spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: fit-content;
            height: fit-content;
            z-index: 9999;
        }

        .blackOpacity {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;
            z-index: 9000;
            background: rgba(0, 0, 0, 0.5);
        }


    </style>
</head>
<body class="w3-content" style="max-width:1200px">


<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-collapse w3-top" id="mySidebar" style="z-index:3;width:250px">
    <div class="w3-container w3-display-container w3-padding-16">
        <h3 class="w3-wide"><b>MENU</b></h3></div>
    <div class="w3-padding-20 w3-large w3-text-grey" style="font-weight:bold">
        <a class="w3-bar-item w3-button" href="#">Quintas</a>
        <a class="w3-bar-item w3-button" href="/funcionario">Funcionários</a>
        <a class="w3-bar-item w3-button" href="#">Plantações</a>
        <a class="w3-bar-item w3-button" href="#">Vindimas</a>
        <a class="w3-bar-item w3-button" href="#">Controlos</a>
        <a class="w3-bar-item w3-button" href="#">Avaliações</a>
        <a class="w3-bar-item w3-button" href="#">Embalamentos</a>
        <a class="w3-bar-item w3-button w3-margin-top" href="/dashboard">Página Inicial</a>
        <a class="w3-bar-item w3-button w3-margin-top" href="/logout">Logout</a>
    </div>
</nav>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

    <!-- Push down content on small screens -->
    <div class="w3-hide-large" style="margin-top:83px"></div>

    <!-- Top header -->
    <header class="w3-container w3-xlarge">
        <p class="w3-center">
            <strong>Quintas</strong>
        </p>
    </header>

    <!-- Fixed header table-->
    <div class="tableFixHead w3-margin-bottom">
        <table>
            <thead>
            <tr>
                <th>Num</th>
                <th>Área (km2)</th>
                <th>Localização</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="quinta : ${listaQuintas}">
                <tr>
                    <td th:text="${quinta.getIdQuinta()}"></td>
                    <td th:text="${quinta.getAreaQuinta()}"></td>
                    <td th:text="${quinta.getLocalizacao()}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div><!-- End -->

    <div class="w3-modal" id="id01">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-teal">
        <span class="w3-button w3-display-topright"
              onclick="closeModal()">&times;</span>
                <h2 class="w3-center">Adicionar quinta</h2>
            </header>
            <div class="w3-container w3-padding-64">
                <form action="/addQuinta" id="formAdd" method="post" name="formAdd" onsubmit="return validateForm()">
                    <input id="idEmpresa" name="idEmpresa"
                           th:value="${listaQuintas.get(0).getIdEmpresa().getIdEmpresa()}"
                           type="hidden">
                    <div class="form-group">
                        <label for="area">Área</label>
                        <input class="form-control" id="area" min="0.01" name="area" placeholder="Insira um área"
                               step="0.01"
                               type="number">
                    </div>
                    <div class="form-group">
                        <label for="localizacao">Localização</label>
                        <input class="form-control" id="localizacao" name="localizacao" placeholder="Localização"
                               type="text">
                    </div>
                    <button class="btn btn-success" type="submit">Adicionar</button>
                </form>
            </div>
        </div>
    </div>

    <div class="w3-modal" id="id02">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-teal">
        <span class="w3-button w3-display-topright"
              onclick="closeModalEdit()">&times;</span>
                <h2 class="w3-center">Editar Quinta</h2>
            </header>
            <div class="w3-container w3-padding-64">
                <form action="/updateQuinta" id="formEdit" method="post" name="formEdit"
                      onsubmit="return validateFormEdit()">
                    <div class="form-group">
                        <label for="selectQuinta">Quinta</label>
                        <select class="form-control" id="selectQuinta" name="selectQuinta"
                                th:onchange="'changeQuinta()'">
                            <th:block th:each="quinta : ${listaQuintas}">
                                <option th:text="${quinta.getIdQuinta()}" th:value="${quinta.getIdQuinta()}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="areaEdit">Área</label>
                        <input class="form-control" id="areaEdit" min="0.01" name="areaEdit"
                               placeholder="Insira um área" step="0.01"
                               type="number">
                    </div>
                    <div class="form-group">
                        <label for="localizacaoEdit">Localização</label>
                        <input class="form-control" id="localizacaoEdit" name="localizacaoEdit"
                               placeholder="Localização"
                               type="text">
                    </div>
                    <button class="btn btn-success" type="submit">Editar</button>
                </form>
            </div>
        </div>
    </div>

    <div class="w3-modal" id="id03">
        <div class="w3-modal-content w3-card-4">
            <header class="w3-container w3-teal">
        <span class="w3-button w3-display-topright"
              onclick="closeModalRemove()">&times;</span>
                <h2 class="w3-center">Remover Quinta</h2>
            </header>
            <div class="w3-container w3-padding-64">
                <form action="/removeQuinta" id="formRemove" method="post"
                      name="formRemove" onsubmit="showLoadDelete()">
                    <div class="form-group">
                        <label for="selectQuintaRemove">Quinta</label>
                        <select class="form-control" id="selectQuintaRemove" name="selectQuintaRemove">
                            <th:block th:each="quinta : ${listaQuintas}">
                                <option th:text="${quinta.getIdQuinta()}" th:value="${quinta.getIdQuinta()}"></option>
                            </th:block>
                        </select>
                    </div>
                    <button class="btn btn-success" type="submit">Remover</button>
                </form>
            </div>
        </div>
    </div>

    <div class="w3-center w3-margin-bottom">
        <button class="w3-btn w3-ripple w3-green w3-round w3-margin-bottom"
                onclick="openModalAdd()">Adicionar Quinta
        </button>
        <button class="w3-btn w3-ripple w3-blue w3-round w3-margin-bottom"
                onclick="openModalEdit()">Editar Quinta
        </button>
        <button class="w3-btn w3-ripple w3-red w3-round w3-margin-bottom" onclick="openModalRemove()">Remover Quinta
        </button>
    </div>

    <div class="w3-black w3-center w3-padding-24">Powered by <b>Diogo Mota Nº20778 & Hugo Simão Nº20752</b>
    </div>

    <div class="card text-dark bg-light mb-3 loading-spinner text-center" id="loadingSpinner"
         style="max-width: 18rem; display: none">
        <div class="card-body">
            <div class="spinner-border text-info" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>

    <div class="blackOpacity" id="divOpacity" style="display: none">
    </div>


</div>

<script th:inline="javascript">
    //<![CDATA[
    const listaJSON = /*[[${listaQuintas}]]*/'Quintas';
    let msg = /*[[${msg}]]*/'msg';
    //]]>
    const JSON_Stringify = JSON.stringify(listaJSON);
</script>


<script type="text/javascript">

    $(window).on('load', function () {
        console.log(msg);
        if (msg != null) {
            if (msg.localeCompare("erroAddQuinta") == 0) {
                alert('Erro ao adicionar quinta!');
            } else if (msg.localeCompare("sucessoAddQuinta") == 0) {
                alert('Quinta adicionada com sucesso!');
            } else if (msg.localeCompare("erroUpdateQuinta") == 0) {
                alert('Erro ao atualizar quinta');
            } else if (msg.localeCompare("sucessoUpdateQuinta") == 0) {
                alert('Quinta atualizada com sucesso!');
            } else if (msg.localeCompare("erroRemoveQuinta") == 0) {
                alert('Erro ao remover quinta');
            } else if (msg.localeCompare("sucessoRemoveQuinta") == 0) {
                alert('Quinta removida com sucesso!');
            }
        }
    });

    function validateForm() {
        var area, localizacao;

        area = document.getElementById("area").value;
        localizacao = document.getElementById("localizacao").value;
        const load = document.getElementById('loadingSpinner');
        const opacity = document.getElementById('divOpacity');

        if (area == "" || localizacao == "") {
            alert("Todos os campos devem ser preenchidos!");
            return false;
        } else if (isNaN(area) || area < 0.01) {
            alert("A área deve ser superior a 0.01 km2");
            return false;
        } else {
            load.style.display = 'block'
            opacity.style.display = 'block'
        }
    }

    function validateFormEdit() {
        var area, localizacao;

        area = document.getElementById("areaEdit").value;
        localizacao = document.getElementById("localizacaoEdit").value;
        const load = document.getElementById('loadingSpinner');
        const opacity = document.getElementById('divOpacity');

        if (area == "" || localizacao == "") {
            alert("Todos os campos devem ser preenchidos!");
            return false;
        } else if (isNaN(area) || area < 0.01) {
            alert("A área deve ser superior a 0.01 km2");
            return false;
        } else {
            load.style.display = 'block'
            opacity.style.display = 'block'
        }
    }

    function openModalAdd() {
        document.getElementById('id01').style.display = 'block'
    }

    function closeModal() {
        document.getElementById('id01').style.display = 'none';
        document.getElementById("formAdd").reset();
    }

    function closeModalEdit() {
        document.getElementById('id02').style.display = 'none';
        document.getElementById("formEdit").reset();
    }

    function openModalRemove() {
        document.getElementById('id03').style.display = 'block';
    }

    function closeModalRemove() {
        document.getElementById('id03').style.display = 'none';
    }


    var idQuintaSelected = document.getElementById("selectQuinta");
    var localizacao = document.getElementById("localizacaoEdit");
    var area = document.getElementById("areaEdit");
    const lista = JSON.parse(JSON_Stringify);

    function openModalEdit() {
        document.getElementById('id02').style.display = 'block'
        for (let i = 0; i < lista.length; i++) {
            if (idQuintaSelected.value == lista[i]["idQuinta"]) {
                area.value = lista[i]["areaQuinta"];
                localizacao.value = lista[i]["localizacao"];
            }
        }
    }

    function changeQuinta() {
        for (let i = 0; i < lista.length; i++) {
            if (idQuintaSelected.value == lista[i]["idQuinta"]) {
                area.value = lista[i]["areaQuinta"];
                localizacao.value = lista[i]["localizacao"];
            }
        }
    }

    function showLoadDelete() {
        const load = document.getElementById('loadingSpinner');
        const opacity = document.getElementById('divOpacity');
        load.style.display = 'block'
        opacity.style.display = 'block'
    }
</script>

</body>
</html>